<!-- ADD -->
<div class="add-button-container" *ngIf="currentState==='add'">
   <button mat-fab color="primary" aria-label="Example icon button with a delete icon"
      (click)="onAddButtonClick($event)">
      <mat-icon>add_box</mat-icon>
   </button>
</div>

<!-- EDITABLE -->
<div *ngIf="currentState==='editable'">
   <div class="image-mat-card">
      <img [src]="candidateUrlImage" (click)="onImageButtonClick($event)">
      <input class="image-uploader" id="imageUploader" type="file" accept="image/*" (change)="processImageFile($event)">
   </div>
   <div class="description-mat-card">
      <textarea matInput #description2 placeholder="Add Description..." [value]="candidateDescription"
         (blur)="onBlur(description2.value)"></textarea>
   </div>
</div>



<!--NO EDITABLE -->
<!-- TODO -->