<div class="back-content">
   <div class="background-content"></div>
   <div class="title">My Poll Project</div>
   <div class="subtitle"> Create poll </div>
   <div class="body-section">
      <mat-card>
         <form [formGroup]="createFormField" class="form">
            <mat-form-field class="mat-form-field-class">
               <mat-label>Poll Name:</mat-label>
               <input formControlName="namePoll" matInput>
            </mat-form-field>

            <mat-card class="candidates-container">
               Candidates
               <mat-grid-list cols="4" rowHeight="150px">
                  <mat-grid-tile *ngFor="let i of [1,2,3,4,5,6,7,8]">
                     <app-candidate-element></app-candidate-element>
                  </mat-grid-tile>
               </mat-grid-list>
            </mat-card>
         </form>
      </mat-card>
   </div>
</div>