<div class="half-top">
  <div class="background-content"></div>
  <div class="panel-area">
    <div class="welcome-panel">
      <div class="title">My Poll Project</div>
      <div class="subtitle">Create easy polls without any registrations</div>
      <button class="welcome-button" mat-button>Create Quick Poll</button>
    </div>

    <img class="welcome-poll-img" src="../assets/images/bar-chart.png">
  </div>
</div>
<div class="half-down">
  <div class="bottom-title">Welcome to My Poll Project</div>
  <div class="bottom-subtitle">This project is for academy purposes</div>
  <div class="bottom-subtitle">Click here if you want to see the source code in git hub</div>
</div>